<div class="container-fluid">
    <div class="row p-4">
            
        <%# 配送先一覧 %>
        <div class="col-lg-8 mx-auto">
            <div class="p-5 my-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

                <h2>配送先一覧</h2>
                <div class="pt-2"></div>
                <div style="border-top: 1px solid #272343;"></div>
                <div class="pt-4"></div>
                <div class="text-right">
                    <%= link_to "配送先の新規登録", new_shipping_path, class:"btn btn-sm btn-info" %>
                </div>
                <div class="pb-4"></div>
                

                <% if @shippings.exists? %>
                    <table class="table table-bordered">
                        <thead style="color: #FFFFFF; background-color: #524d75;">
                            <tr>
                                <th>氏名（漢字）</th>
                                <th>氏名（カナ）</th>
                                <th>郵便番号</th>
                                <th>住所</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="color: #524d75; background-color: #fffffe;">
                            <% @shippings.each do |shipping| %>
                                <tr>
                                    <td><%= shipping.full_name %></td>
                                    <td><%= shipping.last_name_kana %> <%= shipping.first_name_kana %></td>
                                    <td><%= shipping.postcode %></td>
                                    <td><%= shipping.shipping_full_address %></td>
                                    <td><%= link_to "編集", edit_shipping_path(shipping), class:"btn btn-sm btn-success col-12" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="pt-5"></div>
                    <h5 class="text-center">登録がありません</h5>
                    <div class="pt-5"></div>
                <% end %>
                
                <div class="pb-4"></div>
                <%= link_to "マイページへ戻る", customers_my_page_path %>

            </div>
        </div>
        

    </div>
</div>