<div class="container-fluid">
    <div class="row p-4">
            
        <%# 配送先一覧 %>
        <div class="col-lg-11 mx-auto">
            <div class="p-5 my-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

                <h2>配送先一覧</h2>
                <div class="pt-4"></div>

                <% @shippings.each do |shipping| %>

                    <p><%= shipping.last_name_kana %> <%= shipping.first_name_kana %></p>

                    <p><%= shipping.full_name %></p>

                    <p><%= shipping.postcode %></p>

                    <p><%= shipping.shipping_full_address %></p>

                <% end %>

            </div>

            <%= link_to "戻る", customers_my_page_path %>

        </div>

    </div>
</div>