<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h3>ジャンル編集</h3>
        </div>

        <div class="my-4"></div>

        <div class="col-lg-9 mx-auto my-4">
            <div class="p-4" style="border: 2px solid #73b6bd; border-radius: 2px;">
                <h5>ジャンル情報編集</h5>
                <div class="mt-3"></div>
                <%= form_with(model: @genre, url: admins_genre_path(@genre)) do |f| %>
                    <%= render 'layouts/error_messages', object: f.object %>
                    <div class="form-row">
                        <div class="col-lg-3">
                            <%= f.label :name, "ジャンル名" %>
                            <%= f.text_field :name, class:"form-control form-control-sm" %>
                            <div class="mt-3"></div>
                            <%= f.label :genre_status, "公開ステータス" %><br/>
                            <%= f.radio_button :genre_status, :active %>
                            <%= f.label :active, "有効" %>
                            <%= f.radio_button :genre_status, :invaild %>
                            <%= f.label :invaild, "無効" %>
                            <div class="mt-3"></div>
                            <%= f.submit "保存", class:"btn btn-sm btn-info col-lg-5" %>
                            <div class="mt-4"></div>
                            <%= link_to "戻る", admins_genres_path, class:"btn btn-sm btn-success col-lg-5" %>
                        </div>
                    </div>
                <% end %>
            </div>

        <div class="my-4"></div>

        </div>


    </div>
</div>