<!-- メイン動画用 -->
<div class="mx-atuo" style="width: 100%; height: 100%; height: 720px; overflow: hidden;">
    <div class="text-center">
        <%= video_tag("background_video.mp4", autoplay: true, loop: true, muted: true, playsinline: true, preload: "metadata", style: "width: auto; height: 100%; opacity: 0.5;") %>
    </div>
</div>
<!-- メイン動画用 終わり -->


<div class="container-fluid">

    <!-- 見出し と アイコン -->
    <div class="row">
        <div style="position: absolute; top: 50%; left: 2%; width: 70%;">
            <h1>Hachiss.</h1>
        </div>
    </div>


    <%# About %>
    <div class="row py-5 px-3" style="background-color: #fffffe; height: 300px;">
        <div class="col-12 pb-3">
            <h2>About</h2>
            <div class="pt-4"></div>
            <div class="ml-2">
                <div class="pt-5"></div>
                <p>「八丈島」の商品に特化したオンラインショップです。</p>
                <div class="pt-5"></div>
            </div>
        </div>
    </div>


    <%# Products %>
    <div class="row py-5 px-3" style="background-color: #e3f6f5;">
        <div class="col-lg-12 pb-3">
            <h2>Products</h2>
            <div class="pt-4"></div>
            <div class="ml-4">
                <p>八丈島産の商品が毎日続々入荷中！</p>
            </div>

            <div class="row p-4 m-4" style="background-color: #fffffe; border: 3px solid #272343; border-radius: 2px;">
                <div class="col-12">
                    <h6>新着商品！</h6>
                </div>

                <% @rand_products.each do |product| %>
                    <div class="col-lg-2 py-3">
                        <div class="text-center">
                            <p><%= product.created_at.strftime('%m/%d') %> 更新！</p>
                        </div>
                        <div class="pt-2"></div>
                        <div class="text-center">
                            <%= link_to product_path(product) do %>
                                <%= attachment_image_tag product, :image, :fill, 120, 120, class: "border img-fluid", fallback: "pic_default/no-image.jpg", size:'120x120' %>
                            <% end %>
                        </div>
                        <div class="pt-2"></div>
                        <div class="text-left">
                            <h6>
                                <%= link_to product_path(product) do %>
                                    <%= product.name %>
                                <% end %>
                            </h6>
                        </div>
                        <div class="text-right">
                            <p><%= product.add_tax_price.to_s(:delimited) %> 円</p>
                        </div>
                        <%= link_to "詳細をみる", product_path(product), class:"btn btn-sm btn-hachiss col-lg-12" %>
                    </div>
                <% end %>

                <div class="col-lg-2 py-3 my-auto">
                    <div class="align-items-center">
                        <%= link_to products_path, class:"btn btn-outline-info col-12 px-3" do %>
                            <i class="fas fa-arrow-circle-right" style="font-size: 40px;"></i><br>
                            さらに見る
                        <% end %>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <%# Ranking %>
    <div class="row py-5 px-3" style="background-color: #ffd803;">
        <div class="col-lg-12 pb-3">
            <h2>Ranking</h2>
            <div class="pt-4"></div>
            <div class="ml-4">
                <p>人気商品をいち早くチェック！</p>
            </div>

            <div class="row p-4 m-4" style="background-color: #fffffe; border: 3px solid #272343; border-radius: 2px;">
                <div class="col-12">
                    <h6>人気商品ランキング！</h6>
                </div>

                <div class="col-lg-2 py-3 my-auto">
                    <div class="align-items-center">
                        <%= link_to products_path, class:"btn btn-outline-info col-12 px-3" do %>
                            <i class="fas fa-arrow-circle-left p-1" style="font-size: 36px;"></i><br>
                            さらに見る
                        <% end %>
                    </div>
                </div>

                <% @rank_products.each.with_index(1) do |product, i| %>
                    <div class="col-lg-2 py-3">
                        <div class="text-center">
                            <h6 class="btn col-lg-9" style="background-color: #ffd803; cursor: default;">第<%= i %>位</h6>
                        </div>
                        <div class="pt-2"></div>
                        <div class="text-center">
                            <%= link_to product_path(product) do %>
                                <%= attachment_image_tag product, :image, :fill, 120, 120, class: "border img-fluid", fallback: "pic_default/no-image.jpg", size:'120x120' %>
                            <% end %>
                        </div>
                        <div class="pt-2"></div>
                        <div class="text-left">
                            <h6>
                                <%= link_to product_path(product) do %>
                                    <%= product.name %>
                                <% end %>
                            </h6>
                        </div>
                        <div class="text-right">
                            <p><%= product.add_tax_price.to_s(:delimited) %> 円</p>
                        </div>
                        <%= link_to "詳細をみる", product_path(product), class:"btn btn-sm btn-drk col-lg-12" %>
                    </div>
                <% end %>

            </div>

        </div>
    </div>



    <%# Producers %>
    <div class="row py-5 px-3" style="background-color: #fffffe;">
        <div class="col-12 pb-3">
            <h2>Producers</h2>
            <div class="pt-4"></div>
            <div class="ml-4">
                <p>商品を生産している生産者の詳細を見ることができます。</p>
            </div>

            <div class="row p-4 m-4" style="background-color: #fffffe; border: 3px solid #272343; border-radius: 2px;">
                <div class="col-12">
                    <h6>商品の生産者</h6>
                </div>

                <% @rand_producers.each do |producer| %>
                    <div class="col-lg-2 py-3">
                        <div class="text-center">
                            <%= link_to producer_path(producer) do %>
                                <%= attachment_image_tag producer, :image, :fill, 120, 120, class: "border img-fluid", fallback: "pic_default/no-image.jpg", size:'120x120' %>
                            <% end %>
                        </div>
                        <div class="pt-2"></div>
                        <div class="text-left">
                            <h6>
                                <%= link_to producer_path(producer) do %>
                                    <%= producer.name %>
                                <% end %>
                            </h6>
                        </div>
                        <%= link_to "詳細をみる", producer_path(producer), class:"btn btn-sm btn-blm col-lg-12" %>
                    </div>
                <% end %>

                <div class="col-lg-2 py-3 my-auto">
                    <div class="align-items-center">
                        <%= link_to producers_path, class:"btn btn-outline-info col-12 px-3" do %>
                            <i class="fas fa-arrow-circle-right" style="font-size: 40px;"></i><br>
                            さらに見る
                        <% end %>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>