<div class="container-fluid">
    <div class="row p-4">

        <%# 生産者詳細 %>
        <div class="col-lg-11 py-4">
            <h3>生産者詳細</h3>
            <div class="pb-2"></div>

            <div class="p-3" style="background-color: #f2f2f2; border: 3px solid #272343; border-radius: 2px;">
                
                <%# 生産者詳細 %>
                <div class="row p-4">

                    <div class="col-lg-5">
                        <div class="pt-5"></div>
                        <div class="text-center">
                            <%= attachment_image_tag @producer, :image, :fill, 320, 320, class: "border", fallback: "pic_default/no-image.jpg", size:'320x320' %>
                        </div>

                        <div class="text-center">
                            <p class="btn btn-sm btn-secondary col-lg-10">フォローする <i class="fas fa-user-plus"></i></p>
                        </div>
                        <div class="text-center">
                            <p class="btn btn-sm btn-info col-lg-10">フォロー中 <i class="fas fa-user-check"></i></p>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="pt-5"></div>
                        <div class="text-center py-5">
                            <h3>「 <%= @producer.name %> 」さん</h3>
                        </div>

                        <div class="text-left pl-2">
                            <p><u>生産者紹介文</u></p>
                        </div>

                        <div class="text-left pl-4">
                            <p><%= @producer.description %></p>
                        </div>
                    </div>

                </div>


                <div class="pt-3"></div>
                <div class="border-bottom border-secondary"></div>
                <div class="pt-3"></div>
                

                <div class="col-lg-12">
                    <div class="pt-4"></div>
                    <p>「 <%= @producer.name %> 」さんの他の商品はこちら</p>
                    <div class="row p-4">

                        <%# 生産者の商品 %>
                        <% @products.each do |product| %>
                            <div class="col-lg-2 pt-3">

                                <div class="text-center">
                                    <%= link_to product_path(product) do %>
                                        <%= attachment_image_tag product, :image, :fill, 120, 120, class: "border", fallback: "pic_default/no-image.jpg", size:'120x120' %>
                                    <% end %>
                                </div>

                                <div class="pt-2"></div>

                                <div class="text-left">
                                    <h6>
                                        <%= link_to product_path(product) do %>
                                            <%= product.name %>
                                        <% end %>
                                    </h6>
                                </div>
                                <div class="text-right">
                                    <p><%= product.add_tax_price.to_s(:delimited) %> 円</p>
                                </div>

                                <%= link_to "詳細をみる", product_path(product), class:"btn btn-sm btn-hachiss col-lg-12" %>

                            </div>

                        <% end %>
                        <%# 生産者の商品 終わり %>

                    </div>

                    <%# ページネーション %>
                    <div class="row">
                        <div class="mx-auto">
                            <div class="pt-4"></div>
                            <%= paginate @products %>
                        </div>
                    </div>
                    <%# ページネーション 終わり %>


                </div>
  
            </div>
            
        </div>

    </div>
</div>