<div class="container-fluid">
    <div class="row">

        <%# メイン %>
        <div class="col-lg-10 p-4">
            <h3>商品検索結果 「 <%= params[:keyword] %> 」</h3>
            <div class="pb-2"></div>

            <div class="p-3" style="background-color: #f2f2f2; border: 3px solid #272343; border-radius: 2px;">
                
                <div class="pt-2"></div>
                <h6>「 <%= @search_products.count %>件 」の商品がヒットしました</h6>
                <div class="row p-4">

                    <%# 商品がヒットしたとき / 商品がヒットしなかった時 %>
                    <% if @search_products.exists? %>
                        <%# 商品一覧 %>
                        <%= render 'products/product_each', products: @search_products %>
                        <%# 商品一覧 終わり %>
                    <% else %>
                        <div class="py-5 mx-auto">
                            <div class="pt-5"></div>
                            <h5>商品が見つかりませんでした</h5>
                            <div class="pb-5"></div>
                        </div>
                    <% end %>

                </div>
                    
                
                <% if @search_products.exists? %>
                    <%# ページネーション %>
                    <div class="row">
                        <div class="mx-auto">
                            <div class="pt-4"></div>
                            <%= paginate @search_products %>
                        </div>
                    </div>
                    <%# ページネーション 終わり %>
                <% end %>

            </div>
        </div>



        <div class="col-lg-2 py-4" style="background-color: #e6ffff;">
            <%# サイドバー %>
            <%= render 'layouts/sidebar', genres: @genres, producers: @producers %>
            <%# サイドバー 終わり %>
        </div>

    </div>
</div>