<!DOCTYPE html>
<html>
  <head>
    <title>Hachiss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <!-- ヘッダー -->
    <%= render 'layouts/header' %>


    <!-- メイン -->
    <div style="background-color: #fffffe; padding-top: 85px;">
      <%= yield %>
    </div>
    <!-- メインここまで -->



    <!-- フッター -->
    <%= render 'layouts/footer' %>


    <!-- ページトップへ戻るボタン -->
    <% if admin_signed_in? %>
      <%# 何も表示しない %>
    <% else %>
        <span id="back">
            <a href="#">
                <i class="fas fa-angle-up" style="font-size: 40px; color: #ffd803;"></i>
            </a>
        </span>
    <% end %>


  </body>
</html>
